@import "compass";
@import "partials/variables";
@import "partials/normalize";


.main-title {
  font-family: 'MotterTekturaWebRegular', sans-serif;
}

td:hover {
  cursor: pointer;
}

.material-icons:hover {
  cursor: pointer;
}
